body {

    background-color: #302E2B;

}

#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.squareRow{
    width: 400px;
    height: 50px;
    background-color: white;
    display: flex;
}

.square{
    width: 50px;
    height: 50px;
}

.piece{
    width: 100%;
    height: 100%;
    cursor: grab;
}   